body {
  font-family: Tahoma, Verdana, Arial, sans-serif;
}
.tournament-tree {
  font-size: 12px;
  width: 980px;
/* (100 / levels) * 100%;  */
}
.tournament-tree .level {
  width: 25%;
  float: left;
  position: relative;
}
.tournament-tree .level > .battle {
  position: relative;
}
.tournament-tree .level > .battle > article {
  background-repeat: no-repeat;
  background-position: 42% 50%;
  height: 3em;
}
.tournament-tree .level > .battle > article.player-1 {
  background-image: url("../gfx/player-top.png");
/*margin-top:1em;*/
}
.tournament-tree .level > .battle > article.player-2 {
  background-image: url("../gfx/player-bottom.png");
/*margin-bottom:1em;*/
}
.tournament-tree .level .sep {
  width: 100%;
  line-height: 1em;
  height: 1em;
  display: block;
  background: url("../gfx/vs.png") no-repeat 42% 50%;
  position: relative;
}
.tournament-tree .level .sep > span {
  font-size: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  line-height: 2em;
  margin-top: -1em;
}
.tournament-tree .level > .battle > article .in {
  font-size: 12px;
  background: #fff;
  border: 1px solid #000;
  width: 30%;
/*margin:-1px 0;*/
  border-radius: 5px;
  height: 100%;
  position: relative;
}
.tournament-tree .level-1 .battle {
  padding-top: 1em;
  padding-bottom: 0em;
}
.tournament-tree .level-1 .sep {
  height: 1em;
}
.tournament-tree .level-2 .battle {
  padding-top: 3em;
  padding-bottom: 2em;
}
.tournament-tree .level-2 .sep {
  height: 5em;
}
.tournament-tree .level-3 .battle {
  padding-top: 7em;
  padding-bottom: 6em;
}
.tournament-tree .level-3 .sep {
  height: 13em;
}
.tournament-tree .level-4 .battle {
  padding-top: 15em;
  padding-bottom: 14em;
}
.tournament-tree .level-4 .sep {
  height: 29em;
}
